@import '~bootstrap/scss/bootstrap.scss';

/* 
    body{
        background: #BDBDBD;
    }
    
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
html, body{
        height: 100%;
        //this color for footer background: #c8a2c8;
    }
.parallax { 
    /* The image used */
    background-image: url("../../public/assets/img/background.jpg");

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.givePadding {
    padding-top: 10%;
}

.wellHeader {
    //color: #4d4dff;
    color: #f1ea7f;
    font-size: 4rem;
    font-style: italic;
    //text-transform: uppercase;
}

.hooker {
    border: none;
}

.hooker-img {
    max-width: 7.5rem;
    max-height: 7.5rem;
}
.hooker-text {
    font-weight: bold;
}


.nav-text {
    font-size: 2.3rem;
    //text-transform: uppercase;
}
.parallax-about {
    /* The image used */
    background-image: url("../../public/assets/img/CEO-about1.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10%;
}

.img-product {
    width: 100%;
    height: 400px;
}

.img-gallery {
    padding: 1rem 0;
}

.social-logos {
    width: 25px;
}

.footer {
    background-color: #c8a2c8;
}

.author-credits {
    font-size: 0.5rem;
}



//overlay for website loading
#overlay {
    position: fixed; /* Sit on top of the page content */
    //display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.rotating-image {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 120px;
    max-height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }